<div id="item-modal" class="modal hidden">
  <div class="modal-backdrop"></div>

  <div class="modal-content">
    <button class="modal-close" id="item-modal-close">&times;</button>

    <h2 id="item-modal-title">Item Name</h2>

    <div class="modal-body">
      <div class="modal-image-wrapper">
        <img id="item-modal-image" src="" alt="Item image">
      </div>
      <div class="modal-text-wrapper">
        <p id="item-modal-description">
          Item description will appear here.
        </p>
      </div>
    </div>
  </div>
</div>
